

<p-toolbar class="mt-0">
  <div class="border-round font-bold flex align-items-center justify-content-center" style="margin-right: 5px;">

    <p-button
      (click)="refresh()"
      [style]="{
        'background-color': '#4087be',
        'border': 'none',
        'box-shadow': 'none',
        'outline': 'none'
      }"
      class="buttonRefresh"
      icon="pi pi-refresh"
      label="Yenile">
    </p-button>

    <p-button
      (click)="showSaveForm()"
      [style]="{
        'background-color': '#28a745',
        'margin': '2px',
        'border': 'none',
        'box-shadow': 'none',
        'outline': 'none'
      }"
      class="buttonAdd"
      icon="pi pi-plus"
      label="Ekle">
    </p-button>

    @if (selectedMusteriBildirimObject()) {
      <p-button
        label="Güncele"
        class="buttonEdit"
        icon="pi pi-pen-to-square"
        (click)="showUpdateForm()"
        [style]="{
          'background-color': '#ff9800',
          'border': 'none',
          'box-shadow': 'none',
          'outline': 'none'
        }">
      </p-button>

      <p-button
        label="Sil"
        class="buttonDelete"
        icon="pi pi-trash"
        (click)="deleteMusteriBildirimConfirm($event)"
        [style]="{
          'background-color': '#dc3545',
          'margin': '2px',
          'border': 'none',
          'box-shadow': 'none',
          'outline': 'none'
        }">
      </p-button>
    }
  </div>
</p-toolbar>

<p-table
  [(selection)]="selectedMusteriBildirimObject"
  [metaKeySelection]="metaKey"
  [tableStyle]="{'min-width': '50rem'}"
  [value]="musteriBildirimDatas()"
  dataKey="id"
  selectionMode="single"
  stripedRows>
  <ng-template #header>

    <tr>
      <th></th>
      <th>#</th>
      <th>Müşteri</th>
      <th>Bildirim Türü</th>
      <th>Mesaj</th>
      <th>Bildirim Zamanı</th>
    </tr>
  </ng-template>
    <ng-template #body let-bildirim let-i="rowIndex">
      <tr [pSelectableRow]="bildirim">
      <td><p-tableRadioButton [value]="bildirim"></p-tableRadioButton></td>
      <td>{{ i + 1 }}</td>
      <td>{{ bildirim.musteriAd|| 'Bilinmeyen Müşteri' }}</td>
        <td>{{bildirim?.siparis?.ad||'-'}}</td>
      <td>{{  bildirim.geriBildirimTur?.label || bildirim.geriBildirimTur }}</td>
        <td>{{bildirim.puan}}</td>
        <td>{{bildirim.yorum}}</td>
      <td>{{ bildirim.olusturmaTarih || '-' }}</td>
        <td>{{ bildirim.guncelleTarih || '-' }}</td>
    </tr>
  </ng-template>
</p-table>

<form [formGroup]="musteriBildirimSaveForm">
  <p-dialog header="Bildirim Ekle" [(visible)]="displaySaveForm" [style]="{width: '400px'}" [modal]="true">
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="geri" style="font-weight: bold">Geri Bildirim Türü </label>
        <p-select
          id="geri"
          [options]="geriBildirimTurEnumList()"
          optionLabel="label"
          optionValue="name"
          formControlName="geriBildirimTur"
          class="w-full"
          placeholder="Geri Bildirim Türü seçiniz">
        </p-select>
      </div>
      <div class="field col-12">
        <label for="musteriAd" style="font-weight: bold"> Müteri Adı</label>
        <input id="musteriAd" placeholder="Adınızı giriniz" pInputText class="w-full" formControlName="musteriAd">
      </div>
      <div class="field col-12">
        <label for="siparis" style="font-weight: bold">Siparis</label>
        <input id="siparis" placeholder="Siparisiniz giriniz" pInputText class="w-full" formControlName="siparis" upperCase="">
      </div>
      <div class="field col-12">
        <label for="puan" style="font-weight: bold">Puan</label>
        <input class="w-full"
               formControlName="puan"
               id="puan"
               pInputText
               placeholder="Puan  giriniz (1-5 )" type="number" min="1" max="5" >
      </div>

      <div class="field col-12">
        <label for="mesaj" style="font-weight: bold">Mesaj</label>
        <input id="mesaj" placeholder="Yorum giriniz" pInputText class="w-full" formControlName="yorum" upperCase="">
      </div>
    </div>

    <ng-template #footer>
      <p-button (click)="closeSaveForm()" icon="pi pi-times" label="İptal" severity="secondary"></p-button>
      <p-button (click)="saveMusteriBildirim()" [disabled]="!musteriBildirimSaveForm.valid" icon="pi pi-save" label="Kaydet"></p-button>
    </ng-template>
  </p-dialog>
</form>

<form [formGroup]="musteriBildirimUpdateForm">
  <p-dialog header="Bildirim Düzenle" [(visible)]="displayUpdateForm" [style]="{width: '400px'}" [modal]="true">
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="geriUp" style="font-weight: bold">Geri Bildirim Türü </label>
        <p-select
          id="geriUp"
          [options]="geriBildirimTurEnumList()"
          optionLabel="label"
          optionValue="name"
          formControlName="geriBildirimTur"
          class="w-full"
          placeholder="Geri Bildirim Türü seçiniz">
        </p-select>
      </div>
      <div class="field col-12">
        <label for="musteriAdi" style="font-weight: bold"> Müteri Adı</label>
        <input id="musteriAdi" placeholder="Adınızı giriniz" pInputText class="w-full" formControlName="musteriAd">
      </div>
      <div class="field col-12">
        <label for="siparisi" style="font-weight: bold">Siparis</label>
        <input id="siparisi" placeholder="Siparisiniz giriniz" pInputText class="w-full" formControlName="siparis"upperCase="">
      </div>
      <div class="field col-12">
        <label for="puanı" style="font-weight: bold">Puan</label>
        <input class="w-full"
               formControlName="puan"
               id="puanı"
               pInputText
               placeholder="Puan  giriniz (1-5 )" type="number" min="1" max="5" >
      </div>

      <div class="field col-12">
        <label for="mesajı" style="font-weight: bold">Mesaj</label>
        <input id="mesajı" placeholder="Yorum giriniz" pInputText class="w-full" formControlName="yorum" upperCase="">
      </div>
    </div>

    <ng-template #footer>
      <p-button (click)="closeSaveForm()" icon="pi pi-times" label="İptal" severity="secondary"></p-button>
      <p-button (click)="updateMusteriBildirim()" [disabled]="!musteriBildirimUpdateForm.valid" icon="pi pi-save" label="Kaydet"></p-button>
    </ng-template>

  </p-dialog>
</form>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
