<p-toolbar class="mt-0">
  <div class="border-round font-bold flex align-items-center justify-content-center" style="margin-right: 5px;">

    <p-button
      (click)="refresh()"
      [style]="{
        'background-color': '#4087be',
        'border': 'none',
        'box-shadow': 'none',
        'outline': 'none'
      }"
      class="buttonRefresh"
      icon="pi pi-refresh"
      label="Yenile">
    </p-button>

    <p-button
      (click)="showSaveForm()"
      [style]="{
        'background-color': '#28a745',
        'margin': '2px',
        'border': 'none',
        'box-shadow': 'none',
        'outline': 'none'
      }"
      class="buttonAdd"
      icon="pi pi-plus"
      label="Ekle">
    </p-button>

    @if (selectedRezervasyonObject()) {
      <p-button
        label="Güncele"
        class="buttonEdit"
        icon="pi pi-pen-to-square"
        (click)="showUpdateForm()"
        [style]="{
          'background-color': '#ff9800',
          'border': 'none',
          'box-shadow': 'none',
          'outline': 'none'
        }">
      </p-button>

      <p-button
        label="Sil"
        class="buttonDelete"
        icon="pi pi-trash"
        (click)="deleteRezervasyonConfirm($event)"
        [style]="{
          'background-color': '#dc3545',
          'margin': '2px',
          'border': 'none',
          'box-shadow': 'none',
          'outline': 'none'
        }">
      </p-button>
    }
  </div>
</p-toolbar>

<p-table
  [(selection)]="selectedRezervasyonObject"
  [metaKeySelection]="metaKey"
  [tableStyle]="{'min-width': '50rem'}"
  [value]="rezervasyonDatas()"
  dataKey="id"
  selectionMode="single"
  stripedRows>
  <ng-template #header>
    <tr>
      <th>#</th>
      <th>Müşteri</th>
      <th>Masa</th>
      <th>Rezervasyon Zamanı</th>
      <th>Kişi Sayısı</th>
      <th>Durum</th>
      <th>Oluşturma Tarihi</th>
    </tr>
  </ng-template>
  <ng-template #body let-i="rowIndex" let-rezervasyon>
    <tr [pSelectableRow]="rezervasyon">
      <td>{{ i + 1 }}</td>
      <
      <td>{{ rezervasyon.musteriId?.ad || 'Bilinmeyen Müşteri' }}</td>
      <td>{{ rezervasyon.masaId?.qrKodUrl || 'Bilinmeyen Masa' }}</td>
      <td>{{ rezervasyon.rezervasyonZamani }}</td>
      <td>{{ rezervasyon.kisiSayisi }}</td>
      <td>{{ rezervasyon.durum?.label || rezervasyon.durum }}</td>
      <td>{{ rezervasyon.olusturmaTarih }}</td>
    </tr>
  </ng-template>
</p-table>

<form [formGroup]="rezervasyonSaveForm">
  <p-dialog [(visible)]="displaySaveForm" [modal]="true" [style]="{width: '400px'}" header="Rezervasyon Ekle">
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="musteriId" style="font-weight: bold">Müşteri</label>
        <p-select
          [options]="musteriOptions()"
          class="w-full"
          formControlName="musteriId"
          id="musteriId"
          optionLabel="ad"
          optionValue="id"
          placeholder="Müşteri seçiniz">
        </p-select>
      </div>
      <div class="field col-12">
        <label for="masaId" style="font-weight: bold">Masa</label>
        <p-select
          [options]="masaOptions()"
          class="w-full"
          formControlName="masaId"
          id="masaId"
          optionLabel="qrKodUrl"
          optionValue="id"
          placeholder="Masa seçiniz">
        </p-select>
      </div>
      <div class="field col-12">
        <label style="font-weight: bold">Rezervasyon Zamanı</label>
        <p-date-picker
          [showButtonBar]="true"
          [style]="{width:'100%'}"
          appendTo="body"
          dateFormat="dd.mm.yy"
          formControlName="rezervasyonZamani"
        ></p-date-picker>
      </div>
      <div class="field col-12">
        <label for="kisiSayisi" style="font-weight: bold">Kişi Sayısı</label>
        <input class="w-full" formControlName="kisiSayisi"
               id="kisiSayisi" min="0"
               pInputText
               placeholder="Kişi sayısı giriniz" type="number">
      </div>
      <div class="field col-12">
        <label for="durum" style="font-weight: bold">Durum</label>
        <p-select
          [options]="durumOptions()"
          class="w-full"
          formControlName="durum"
          id="durum"
          optionLabel="label"
          optionValue="name"
          placeholder="Durum seçiniz">
        </p-select>
      </div>
    </div>
    <ng-template #footer>
      <p-button (click)="closeSaveForm()" icon="pi pi-times" label="İptal" severity="secondary"></p-button>
      <p-button (click)="saveRezervasyon()" [disabled]="!rezervasyonSaveForm.valid" icon="pi pi-save"
                label="Kaydet"></p-button>
    </ng-template>
  </p-dialog>
</form>

<form [formGroup]="rezervasyonUpdateForm">
  <p-dialog [(visible)]="displayUpdateForm" [modal]="true" [style]="{width: '400px'}" header="Rezervasyon Düzenle">
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="musteriI" style="font-weight: bold">Müşteri</label>
        <p-select
          [options]="musteriOptions()"
          class="w-full"
          formControlName="musteriId"
          id="musteriI"
          optionLabel="ad"
          optionValue="id"
          placeholder="Müşteri seçiniz">
        </p-select>
      </div>
      <div class="field col-12">
        <label for="masaI" style="font-weight: bold">Masa</label>
        <p-select
          [options]="masaOptions()"
          class="w-full"
          formControlName="masaId"
          id="masaI"
          optionLabel="qrKodUrl"
          optionValue="id"
          placeholder="Masa seçiniz">
        </p-select>
      </div>
      <div class="field col-12">
        <label style="font-weight: bold">Rezervasyon Zamanı</label>
        <p-date-picker
          [showButtonBar]="true"
          [style]="{width:'100%'}"
          appendTo="body"
          dateFormat="dd.mm.yy"
          formControlName="rezervasyonZamani"
        ></p-date-picker>
      </div>
      <div class="field col-12">
        <label for="kisiSayis" style="font-weight: bold">Kişi Sayısı</label>
        <input class="w-full" formControlName="kisiSayisi"
               id="kisiSayis" min="0"
               pInputText
               placeholder="Kişi sayısı giriniz" type="number">
      </div>
      <div class="field col-12">
        <label for="durumup" style="font-weight: bold">Durum</label>
        <p-select
          [options]="durumOptions()"
          class="w-full"
          formControlName="durum"
          id="durumup"
          optionLabel="label"
          optionValue="name"
          placeholder="Durum seçiniz">
        </p-select>
      </div>
    </div>

    <ng-template #footer>
      <p-button (click)="closeSaveForm()" icon="pi pi-times" label="İptal" severity="secondary"></p-button>
      <p-button (click)="updateRezervasyon()" [disabled]="!rezervasyonUpdateForm.valid" icon="pi pi-save"
                label="Kaydet"></p-button>
    </ng-template>
  </p-dialog>
</form>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
