
<p-toolbar class="mt-0">
  <div class="border-round font-bold flex align-items-center justify-content-center" style="margin-right: 5px;">

    <p-button
      (click)="refresh()"
      [style]="{
        'background-color': '#4087be',
        'border': 'none',
        'box-shadow': 'none',
        'outline': 'none'
      }"
      class="buttonRefresh"
      icon="pi pi-refresh"
      label="Yenile">
    </p-button>

    <p-button
      (click)="showSaveForm()"
      [style]="{
        'background-color': '#28a745',
        'margin': '2px',
        'border': 'none',
        'box-shadow': 'none',
        'outline': 'none'
      }"
      class="buttonAdd"
      icon="pi pi-plus"
      label="Ekle">
    </p-button>

    @if (selectedMusteriObject()) {
      <p-button
        label="Güncele"
        class="buttonEdit"
        icon="pi pi-pen-to-square"
        (click)="showUpdateForm()"
        [style]="{
          'background-color': '#ff9800',
          'border': 'none',
          'box-shadow': 'none',
          'outline': 'none'
        }">
      </p-button>

      <p-button
        label="Sil"
        class="buttonDelete"
        icon="pi pi-trash"
        (click)="deleteMusteriConfirm($event)"
        [style]="{
          'background-color': '#dc3545',
          'margin': '2px',
          'border': 'none',
          'box-shadow': 'none',
          'outline': 'none'
        }">
      </p-button>
    }
  </div>
</p-toolbar>

<p-table
  [(selection)]="selectedMusteriObject"
  [metaKeySelection]="metaKey"
  [tableStyle]="{'min-width': '50rem'}"
  [value]="musteriDatas()"
  dataKey="id"
  selectionMode="single"
  stripedRows>
  <ng-template #header>
    <tr>
      <th>#</th>
      <th>Ad</th>
      <th>Soyad</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>Adres</th>
      <th>Oluşturma Tarihi</th>
    </tr>
  </ng-template>
      <ng-template #body let-musteri let-i="rowIndex">
        <tr [pSelectableRow]="musteri">
      <td>{{ i + 1 }}</td>
      <td>{{ musteri.ad }}</td>
      <td>{{ musteri.soyad }}</td>
      <td>{{ musteri.telefon }}</td>
      <td>{{ musteri.email || '-' }}</td>
      <td>{{ musteri.adres || '-' }}</td>
      <td>{{ musteri.olusturmaTarih || '-'}}</td>
    </tr>
  </ng-template>
</p-table>

<form [formGroup]="musteriSaveForm">
  <p-dialog header="Müşteri Ekle" [(visible)]="displaySaveForm" [style]="{width: '400px'}" [modal]="true">
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="ad" style="font-weight: bold">Ad</label>
        <input id="ad" placeholder="Ad giriniz" pInputText class="w-full" formControlName="ad">
      </div>
      <div class="field col-12">
        <label for="soyad" style="font-weight: bold">Soyad</label>
        <input id="soyad" placeholder="Soyad giriniz" pInputText class="w-full" formControlName="soyad">
      </div>
      <div class="field col-12">
        <label for="telefon" style="font-weight: bold">Telefon</label>
      <input class="w-full"
             formControlName="telefon"
             id="telefon"
              pInputText
             placeholder="Telefon giriniz (10 hane)" type="text" maxlength="10" >
    </div>
      <div class="field col-12">
        <label for="email" style="font-weight: bold">Email</label>
        <input id="email" placeholder="Email giriniz" pInputText class="w-full" formControlName="email">
      </div>
      <div class="field col-12">
        <label for="adres" style="font-weight: bold">Adres</label>
        <input id="adres" placeholder="Adres giriniz" pInputText class="w-full" formControlName="adres">
      </div>
    </div>
    <ng-template #footer>
      <p-button (click)="closeSaveForm()" icon="pi pi-times" label="İptal" severity="secondary"></p-button>
      <p-button (click)="saveMusteri()" [disabled]="!musteriSaveForm.valid" icon="pi pi-save" label="Kaydet"></p-button>
    </ng-template>
  </p-dialog>
</form>

<form [formGroup]="musteriUpdateForm">
  <p-dialog header="Müşteri Düzenle" [(visible)]="displayUpdateForm" [style]="{width: '400px'}" [modal]="true">
    <div class="formgrid grid">

      <div class="field col-12">
        <label for="adUp">Ad</label>
        <input id="adUp" pInputText class="w-full" formControlName="ad">
      </div>
      <div class="field col-12">
        <label for="soyadUp">Soyad</label>
        <input id="soyadUp" pInputText class="w-full" formControlName="soyad">
      </div>
      <div class="field col-12">
        <label for="telefonUp" style="font-weight: bold">Telefon</label>
        <input class="w-full"
               formControlName="telefon"
               id="telefonUp"
               pInputText
               placeholder="Telefon giriniz (10 hane)" type="text" maxlength="10">
      </div>
      <div class="field col-12">
        <label for="emailUp">Email</label>
        <input id="emailUp" pInputText class="w-full" formControlName="email">
      </div>
      <div class="field col-12">
        <label for="adresUp">Adres</label>
        <input id="adresUp" pInputText class="w-full" formControlName="adres">
      </div>
    </div>
    <ng-template #footer>
      <p-button (click)="closeSaveForm()" icon="pi pi-times" label="İptal" severity="secondary"></p-button>
      <p-button (click)="updateMusteri()" [disabled]="!musteriUpdateForm.valid" icon="pi pi-save" label="Kaydet"></p-button>
    </ng-template>
  </p-dialog>
</form>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
