<p-toolbar class="mt-0">
  <div class="border-round font-bold flex align-items-center justify-content-center" style="margin-right: 5px;">

    <p-button
      (click)="refresh()"
      [style]="{
        'background-color': '#4087be',
        'border': 'none',
        'box-shadow': 'none',
        'outline': 'none'
      }"
      class="buttonRefresh"
      icon="pi pi-refresh"
      label="Yenile">
    </p-button>

    <p-button
      (click)="showSaveForm()"
      [style]="{
        'background-color': '#28a745',
        'margin': '2px',
        'border': 'none',
        'box-shadow': 'none',
        'outline': 'none'
      }"
      class="buttonAdd"
      icon="pi pi-plus"
      label="Ekle">
    </p-button>

    @if (selectedMasaObject()) {
      <p-button
        label="Güncele"
        class="buttonEdit"
        icon="pi pi-pen-to-square"
        (click)="showUpdateForm()"
        [style]="{
          'background-color': '#ff9800',
          'border': 'none',
          'box-shadow': 'none',
          'outline': 'none'
        }">
      </p-button>

      <p-button
        label="Sil"
        class="buttonDelete"
        icon="pi pi-trash"
        (click)="deleteMasaConfirm($event)"
        [style]="{
          'background-color': '#dc3545',
          'margin': '2px',
          'border': 'none',
          'box-shadow': 'none',
          'outline': 'none'
        }">
      </p-button>
    }
  </div>
</p-toolbar>

<p-table [(selection)]="selectedMasaObject"
         [value]="masaDatas()"
         [metaKeySelection]="metaKey"
         [tableStyle]="{'min-width': '50rem'}"
         dataKey="id"
         selectionMode="single"
         stripedRows>
  <ng-template #header>
    <tr>
      <th>#</th>
      <th>QR Kod</th>
      <th>Kapasite</th>
      <th>Konum</th>
      <th>Durum</th>
      <th>Oluşturma Tarihi</th>
    </tr>
  </ng-template>
  <ng-template #body let-i="rowIndex" let-masa>
    <tr [pSelectableRow]="masa">
      <td>{{ i + 1 }}</td>
      <td>{{ masa.qrKodUrl }}</td>
      <td>{{ masa.kapasite }}</td>
      <td>{{ masa.masaKonum }}</td>
      <td>{{ masa.masaDurum }}</td>
      <td>{{ masa.olusturmaTarih }}</td>
    </tr>
  </ng-template>
</p-table>
<form [formGroup]="masaSaveForm">
  <p-dialog [(visible)]="displaySaveForm" [modal]="true" [style]="{width: '500px'}" header="Masa Ekle">
    <div class="formgrid grid">
      <div class="field col-6">
        <label for="qrKodUrl" style="font-weight: bold">QR Kod URL</label>
        <input class="w-full" formControlName="qrKodUrl"
               id="qrKodUrl"
               pInputText placeholder="QR kod URL giriniz" upperCase>
      </div>

      <div class="field col-6">
        <label for="kapasite" style="font-weight: bold">Kapasite</label>
        <input class="w-full" formControlName="kapasite" id="kapasite" pInputText placeholder="Kapasite giriniz"
               type="number">
      </div>
      <div class="field col-12">
        <label style="font-weight: bold">Masa Konumu</label>
        <p-select
          [options]="masaKonumEnumList()"
          [style]="{width: '100%'}"
          appendTo="body"
          class="w-full"
          formControlName="masaKonum"
          id="masaKonum"
          optionLabel="label"
          optionValue="name"
          placeholder="Konum seçiniz">
        </p-select>
      </div>
    </div>
    <ng-template #footer>
      <p-button (click)="closeSaveForm()" icon="pi pi-times" label="İptal" severity="secondary"></p-button>
      <p-button (click)="saveMasa()" [disabled]="!masaSaveForm.valid" icon="pi pi-save" label="Kaydet"></p-button>
    </ng-template>
  </p-dialog>
</form>

<form [formGroup]="masaUpdateForm">
  <p-dialog [(visible)]="displayUpdateForm" [modal]="true" [style]="{width: '500px'}" header="Masa Düzenle">
    <div class="formgrid grid">
      <div class="field col-6">
        <label for="idUp">Masa ID</label>
        <input class="w-full" formControlName="id" id="idUp" pInputText pTooltip="Bu alan düzenlenemez!" readonly
               upperCase>
      </div>

      <div class="field col-6">
        <label for="qrKodUrlUp">QR Kod URL</label>
        <input class="w-full" formControlName="qrKodUrl" id="qrKodUrlUp" pInputText>
      </div>
      <div class="field col-12">
        <label for="kapasiteUp">Kapasite</label>
        <input class="w-full"
               formControlName="kapasite"
               id="kapasiteUp"
               min="0"
               pInputText
               type="number">
      </div>

      <div class="field col-12">
        <label>Masa Konumu</label>
        <p-select
          [options]="masaKonumEnumList()"
          appendTo="body"
          class="w-full"
          formControlName="masaKonum"
          id="masaKonumUp"
          optionLabel="label"
          optionValue="name"
          placeholder="Konum seçiniz">
        </p-select>
      </div>
      <div class="field col-12">
        <label>Masa Durumu</label>
        <p-select
          [options]="masaDurumEnumList()"
          appendTo="body"
          class="w-full"
          formControlName="masaDurum"
          id="masaDurumUp"
          optionLabel="label"
          optionValue="name"
          placeholder="Durum seçiniz">
        </p-select>
      </div>
    </div>
    <ng-template #footer>
      <p-button (click)="closeUpdateForm()" icon="pi pi-times" label="İptal" severity="secondary"></p-button>
      <p-button (click)="updateMasa()" [disabled]="!masaUpdateForm.valid" icon="pi pi-save" label="Düzenle"></p-button>
    </ng-template>
  </p-dialog>
</form>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
