<p-toolbar class="mt-0">
  <div class="border-round font-bold flex align-items-center justify-content-center" style="margin-right: 5px;">
    @if (!selectedMasaObject()) {
      <p-button
        class="buttonRefresh"
        icon="pi pi-refresh"
        (click)="refresh()"
        [style]="{'background-color': '#4087be'}">
      </p-button>
      <p-button
        class="buttonAdd"
        icon="pi pi-plus"
        (click)="showSaveForm()"
        [style]="{'background-color': '#28a745', 'margin': '2px'}">
      </p-button>
    }
    @if (selectedMasaObject()) {
      <p-button
        class="buttonEdit"
        icon="pi pi-pen-to-square"
        (click)="showUpdateForm()"
        [style]="{'background-color': '#ff9800'}">
      </p-button>
      <p-button
        class="buttonDelete"
        icon="pi pi-trash"
        (click)="deleteMasaConfirm($event)"
        [style]="{'background-color': '#dc3545', 'margin': '2px'}">
      </p-button>
    }
  </div>
</p-toolbar>

<p-table
  [value]="masaDatas()"
  [(selection)]="selectedMasaObject"
  styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>#</th>
      <th>QR Kod</th>
      <th>Kapasite</th>
      <th>Konum</th>
      <th>Durum</th>
      <th>Oluşturma Tarihi</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-masa let-i="rowIndex">
    <tr>
      <td><p-tableRadioButton [value]="masa"></p-tableRadioButton></td>
      <td>{{ i + 1 }}</td>
      <td>{{ masa.qrKodUrl }}</td>
      <td>{{ masa.kapasite }}</td>
      <!--<td>{{ masaKonumOptions().find(konum => konum.name === masa.masaKonum)?.label || masa.masaKonum }}</td>
      <td>{{ masaDurumOptions().find(durum => durum.name === masa.masaDurum)?.label || masa.masaDurum }}</td>
      <td>{{ masa.olusturmaTarih | date:'dd/MM/yyyy' }}</td>-->
    </tr>
  </ng-template>
</p-table>

<form [formGroup]="masaSaveForm">
  <p-dialog header="Masa Ekle" [(visible)]="displaySaveForm" [style]="{width: '400px'}" [modal]="true">
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="qrKodUrl" style="font-weight: bold">QR Kod URL</label>
        <input id="qrKodUrl" placeholder="QR kod URL giriniz" pInputText class="w-full" formControlName="qrKodUrl">
      </div>
      <div class="field col-12">
        <label for="kapasite" style="font-weight: bold">Kapasite</label>
        <input id="kapasite" type="number" placeholder="Kapasite giriniz" pInputText class="w-full" formControlName="kapasite">
      </div>
      <div class="field col-12">
        <label style="font-weight: bold">Masa Konumu</label>
        <p-select
          id="masaKonum"
          [options]="masaKonumEnumList()"
          optionLabel="label"
          optionValue="name"
          formControlName="masaKonum"
          class="w-full"
          placeholder="Konum seçiniz">
        </p-select>
      </div>
    </div>
    <p-footer>
      <button type="button" pButton icon="pi pi-times" severity="secondary" label="İptal" (click)="closeSaveForm()"></button>
      <button type="button" pButton icon="pi pi-save" label="Kaydet" (click)="saveMasa()" [disabled]="!masaSaveForm.valid"></button>
    </p-footer>
  </p-dialog>
</form>

<form [formGroup]="masaUpdateForm">
  <p-dialog header="Masa Düzenle" [(visible)]="displayUpdateForm" [style]="{width: '400px'}" [modal]="true">
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="idUp">Masa ID</label>
        <input id="idUp" pInputText class="w-full" formControlName="id" readonly pTooltip="Bu alan düzenlenemez!" tooltipPosition="top">
      </div>
      <div class="field col-12">
        <label for="qrKodUrlUp">QR Kod URL</label>
        <input id="qrKodUrlUp" pInputText class="w-full" formControlName="qrKodUrl">
      </div>
      <div class="field col-12">
        <label for="kapasiteUp">Kapasite</label>
        <input id="kapasiteUp" type="number" pInputText class="w-full" formControlName="kapasite">
      </div>
      <div class="field col-12">
        <label >Masa Konumu</label>
        <p-select
          id="masaKonumUp"
          [options]="masaKonumEnumList()"
          optionLabel="label"
          optionValue="name"
          formControlName="masaKonum"
          class="w-full"
          placeholder="Konum seçiniz">
        </p-select>
      </div>
      <div class="field col-12">
        <label >Masa Durumu</label>
        <p-select
          id="masaDurumUp"
          [options]="masaDurumEnumList()"
          optionLabel="label"
          optionValue="name"
          formControlName="masaDurum"
          class="w-full"
          placeholder="Durum seçiniz">
        </p-select>
      </div>
    </div>
    <p-footer>
      <button type="button" pButton icon="pi pi-times" severity="secondary" label="İptal" (click)="closeUpdateForm()"></button>
      <button type="button" pButton icon="pi pi-save" label="Düzenle" (click)="updateMasa()" [disabled]="!masaUpdateForm.valid"></button>
    </p-footer>
  </p-dialog>
</form>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
