<p-toolbar class="mt-0">
  <div class="border-round font-bold flex align-items-center justify-content-center" style="margin-right: 5px;">
    <p-button
      (click)="refresh()"
      [style]="{
        'background-color': '#4087be',
        'border': 'none',
        'box-shadow': 'none',
        'outline': 'none'
      }"
      class="buttonRefresh"
      icon="pi pi-refresh"
      label="Yenile">
    </p-button>
    @if (selectedOdemeObject()) {
      <p-button
        (click)="showOdemeForm()"
        [style]="{
        'background-color': '#28a745',
        'margin': '2px',
        'border': 'none',
        'box-shadow': 'none',
        'outline': 'none'
      }"
        class="buttonAdd"
        icon="pi pi-plus"
        label="Ödeme">
      </p-button>


      <p-button
        label="Güncelle"
        class="buttonEdit"
        icon="pi pi-pen-to-square"
        (click)="showUpdateForm()"
        [style]="{
          'background-color': '#ff9800',
          'border': 'none',
          'box-shadow': 'none',
          'outline': 'none'
        }">
      </p-button>

    }
  </div>
</p-toolbar>

<div class="card">
  <p-table
    #dt
    [(selection)]="selectedOdemeObject"
    [globalFilterFields]="[
  'siparis.id',
  'masa.qrKodUrl',
  'siparis.siparisDurum',
  'odemeDurum',
  'odemeYontem',
  'toplamTutar',
  'siparis.olustumaZaman',
  'odemeZaman'
]"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [rows]="10"
    [tableStyle]="{ 'min-width': '100rem' }"
    [value]="odemeDatas()"
    dataKey="id"
    selectionMode="single"
  >
    <ng-template pTemplate="caption">

      <div class="flex">
        <p-iconField class="ml-auto" iconPosition="left">
          <input
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            pInputText
            placeholder="Anahtar kelime ara"
            type="text"
          />
        </p-iconField>
      </div>

    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Sipariş ID</th>
        <th>Masa Numarası/Adı</th>

        <th>Sipariş Durumu</th>
        <th>Ödeme Durumu</th>
        <th>Ödeme Yöntemi</th>
        <th>Sipariş Oluşturma Zamanı</th>
        <th>Ödeme Zamanı</th>
        <th>Sipariş Toplamı</th>
        <th>Ödeme Tutarı</th>

      </tr>
      <tr>
        <th>
          <p-columnFilter
            [showMenu]="false"
            ariaLabel="Sipariş ID Filtresi"
            field="siparis.id"
            matchMode="equals"
            placeholder="Sipariş ID ile ara"
            type="text"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            [showMenu]="false"
            ariaLabel="QR URL Filtresi"
            field="masa.qrKodUrl"
            matchMode="equals"
            placeholder="Masa No ile ara"
            type="text"
          ></p-columnFilter>
        </th>

        <th>
          <p-columnFilter [showMenu]="false" field="siparis.siparisDurumu" matchMode="equals">
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <p-select

                (onChange)="filter($event.value)"
                [options]="siparisDurOptions()"
                appendTo="body"
                optionLabel="label"
                optionValue="name"
                placeholder="Seçiniz"
              >
                <ng-template let-option pTemplate="item">
                  <p-tag [value]="option.name"/>
                </ng-template>
              </p-select>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" field="odemeDurumu" matchMode="equals">
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <p-select
                (onChange)="filter($event.value)"
                [options]="odemeDurOptions()"
                appendTo="body"
                optionLabel="label"

                optionValue="name"
                placeholder="Seçiniz">
                >
                <ng-template let-option pTemplate="item">
                  <p-tag [value]="option.name"/>
                </ng-template>
              </p-select>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" field="yontemi" matchMode="equals">
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <p-select
                (onChange)="filter($event.value)"
                [options]="odemeYonOptions()"
                appendTo="body"

                optionLabel="label"
                optionValue="name"
                placeholder="Seçiniz"
              >
                <ng-template let-option pTemplate="item">
                  <p-tag [value]="option.name"></p-tag>
                </ng-template>
              </p-select>
            </ng-template>
          </p-columnFilter>
        </th>

        <th>
          <p-columnFilter
            ariaLabel="Oluşturma Zamanı Filtresi"
            field="olusturmaZamani"
            placeholder="Oluşturma zamanı ile ara"
            type="date"

          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            ariaLabel="Ödeme Zamanı Filtresi"
            field="odemeZamani"
            matchMode="equals"
            placeholder="Ödeme zamanı ile ara"
            type="date"
          ></p-columnFilter>
        </th>
        <th>
        </th>
        <th>

        </th>

        <th class="text-right">
          <button
            (click)="dt.clear()"
            class="p-button-rounded p-button-text p-button-danger ml-2"
            icon="pi pi-filter-slash"
            pButton
            pTooltip="Filtreleri Temizle"
            type="button"
          ></button>
        </th>
      </tr>
    </ng-template>

    <ng-template let-odeme pTemplate="body">
      <tr [pSelectableRow]="odeme">
        <td>{{ odeme.siparis.id }}</td>
        <td>{{ odeme.masa.qrKodUrl }}</td>

        <td>{{ odeme.siparis.siparisDurum }}</td>
        <td>{{ odeme.odemeDurum }}</td>
        <td>{{ odeme.odemeYontem }}</td>
        <td>{{ odeme.siparis.olustumaZaman }}</td>
        <td>{{ odeme.odemeZaman }}</td>
        <td>{{ odeme.siparis.toplamTutar }}</td>
        <td>{{ odeme.toplamTutar }}</td>

        <td></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="11">Ödeme bulunamadı.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<form (ngSubmit)="saveOdeme()" [formGroup]="odemeSaveForm">
  <p-dialog
    [(visible)]="displaySaveForm"
    [modal]="true"
    [style]="{ width: '500px' }"
    header="Siparişi Tamamla"
  >
    <div class="formgrid grid ">
      <div class="field col-12">
        <label style="font-weight: bold">Odeme Zamanı</label>
        <p-date-picker
          [showButtonBar]="true"
          [style]="{width:'100%'}"
          appendTo="body"
          dateFormat="dd.mm.yy"
          formControlName="odemeZaman"
        ></p-date-picker>
      </div>
      <div class="field col-12">
        <label for="odemeT" style="font-weight: bold">Ödeme Yöntemi</label>
        <p-select
          [options]="odemeYonOptions()"
          [style]="{width: '100%'}"
          appendTo="body"
          formControlName="odemeYontem"
          id="odemeT"
          optionLabel="label"
          optionValue="name"
          placeholder="Ödeme türü seçiniz"
        ></p-select>
      </div>
      <div class="field col-12">
        <label for="ad" style="font-weight: bold">Ödeme Durumu</label>
        <p-select
          [options]="odemeDurOptions()"
          [style]="{width: '100%'}"
          appendTo="body"
          formControlName="odemeDurum"
          id="ad"
          optionLabel="label"
          optionValue="name"
          placeholder="Ödeme durumu seçiniz"
        ></p-select>
      </div>
      <div class="field col-12">
        <label for="a" style="font-weight: bold">Ödeneme Tutarı</label>
        <p-inputNumber
          [style]="{width: '100%'}"
          class="w-full"
          currency="TRY"
          formControlName="toplamTutar"
          id="a"
          locale="tr-TR"
          mode="currency"
        ></p-inputNumber>
      </div>

    </div>


      <ng-template #footer>
        <p-button (click)="closeUpdateForm()"      styleClass="p-button-text"  icon="pi pi-times" label="İptal" severity="secondary"></p-button>
        <p-button (click)="saveOdeme()" [disabled]="!odemeSaveForm.valid" icon="pi pi-save"  styleClass="p-button-success"
                  label="Kaydet"></p-button>
      </ng-template>

  </p-dialog>

</form>
<form (ngSubmit)="updateOdeme()" [formGroup]="odemeUpdateForm">
  <p-dialog
    [(visible)]="displayUpdateForm"
    [modal]="true"
    [style]="{ width: '500px' }"
    header="Ödeme Güncelle"
  >
    <div class="formgrid grid ">
      <div class="field col-12">
        <label for="odemeTu" style="font-weight: bold">Ödeme Durumu</label>
        <p-select
          [options]="odemeDurOptions()"
          [style]="{width: '100%'}"
          appendTo="body"
          formControlName="odemeDurum"
          id="odemeTu"
          optionLabel="label"
          optionValue="name"
          placeholder="Ödeme türü seçiniz"
        ></p-select>
      </div>

    </div>
    <ng-template pTemplate="footer">
      <p-button
        (click)="closeUpdateForm()"
        icon="pi pi-times"
        label="İptal"
        styleClass="p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-check"
        label="Güncelle"
        styleClass="p-button-success"
        type="submit"
      ></p-button>
    </ng-template>
  </p-dialog>
</form>
