
<p-toolbar class="mt-0">
  <div class="border-round font-bold flex align-items-center justify-content-center" style="margin-right: 5px;">

    <p-button
      (click)="refresh()"
      [style]="{
        'background-color': '#4087be',
        'border': 'none',
        'box-shadow': 'none',
        'outline': 'none'
      }"
      class="buttonRefresh"
      icon="pi pi-refresh"
      label="Yenile">
    </p-button>

    <p-button
      (click)="goToSaveSiparisFrom()"
      [style]="{
        'background-color': '#28a745',
        'margin': '2px',
        'border': 'none',
        'box-shadow': 'none',
        'outline': 'none'
      }"
      class="buttonAdd"
      icon="pi pi-plus"
      label="Ekle">
    </p-button>

    @if (selectedSiparisObject()) {
      <p-button
        label="Güncele"
        class="buttonEdit"
        icon="pi pi-pen-to-square"
        (click)="showUpdateForm()"
        [style]="{
          'background-color': '#ff9800',
          'border': 'none',
          'box-shadow': 'none',
          'outline': 'none'
        }">
      </p-button>

      <p-button
        label="Sil"
        class="buttonDelete"
        icon="pi pi-trash"
        (click)="deleteSiparisConfirm($event)"
        [style]="{
          'background-color': '#dc3545',
          'margin': '2px',
          'border': 'none',
          'box-shadow': 'none',
          'outline': 'none'
        }">
      </p-button>
    }

  </div>
</p-toolbar>

<p-table
  [(selection)]="selectedSiparisObject"
  [metaKeySelection]="metaKey"
  [tableStyle]="{'min-width': '50rem'}"
  [value]="siparisDatas()"
  dataKey="id"
  selectionMode="single"
  stripedRows>
  <ng-template #header>

    <tr>
      <th>#</th>
      <th>Masa</th>
      <th>Müşteri</th>
      <th>Personel</th>
      <th>Toplam Tutar</th>
      <th>Oluşturma Zamanı</th>
      <th>Siparis Durumu</th>
      <th>Siparis Not Ekleme</th>
      <th>İşlem</th>
    </tr>
  </ng-template>
  <ng-template #body let-siparis let-i="rowIndex">
    <tr [pSelectableRow]="siparis">
      <td>{{ i + 1 }}</td>
      <td>{{ siparis.masa?.qrKodUrl  || 'Bilinmeyen Masa' }}</td>
      <td>{{ siparis.musteriAd }}</td>
      <td>{{ siparis.personel?.ad || '—' }}</td>
      <td>{{ siparis.toplamTutar }}</td>
      <td>{{ siparis.olusturmaZamani }}</td>
      <td>{{ siparis.siparisDurumu }}</td>
      <td>{{ siparis.siprisNot }}</td>
      <td>
        <p-button
          icon="pi pi-search"
          label="Detay"
          (click)="goToSiparisKalemleri(siparis.id)"
          styleClass="p-button-sm p-button-secondary">
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<form [formGroup]="siparisUpdateForm">
  <p-dialog header="Sipariş Düzenle" [(visible)]="displayUpdateForm" [style]="{width: '400px'}" [modal]="true">
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="idUp">Sipariş ID</label>
        <input id="idUp" pInputText class="w-full" formControlName="id" readonly pTooltip="Bu alan düzenlenemez!"
               upperCase>
      </div>


      <div class="field col-12">
        <label for="masaUp">Masa</label>
        <p-select
          id="masaUp"
          [options]="masaOptions()"
          optionLabel="qrKodUrl"
          appendTo="body"
          optionValue="id"
          formControlName="masa"
          class="w-full"
          placeholder="Masa seçiniz">
        </p-select>
      </div>
      <div class="field col-12">
        <label for="musteriAdUp">Müşteri Adı</label>
        <input id="musteriAdUp" pInputText class="w-full" formControlName="musteriAd">
      </div>
      <div class="field col-12">
        <label for="personelIdUp">Personel</label>
        <p-select
          id="personelIdUp"
          [options]="personelOptions()"
          optionLabel="ad"
          optionValue="id"
          appendTo="body"
          formControlName="personel"
          class="w-full"
          placeholder="Personel seçiniz">
        </p-select>
      </div>
      <div class="field col-12">
        <label for="siparisDurumuUp">Sipariş Durumu</label>
        <p-select
          id="siparisDurumuUp"
          [options]="siparisDurumOptions()"
          optionLabel="label"
          optionValue="name"
          appendTo="body"
          formControlName="siparisDurumu"
          class="w-full"
          placeholder="Durum seçiniz">
        </p-select>
      </div>
      <div class="field col-12">
        <label for="siparisNotUp">Sipariş Notu</label>
        <input id="siparisNotUp" pInputText class="w-full" formControlName="siparisNot">
      </div>

    </div>

    <ng-template pTemplate="footer">
      <p-button (click)="closeUpdateForm()" icon="pi pi-times" label="İptal" severity="secondary"></p-button>
      <p-button (click)="updateSiparis()" [disabled]="!siparisUpdateForm.valid" icon="pi pi-save"
                label="Kaydet"></p-button>
    </ng-template>
  </p-dialog>
</form>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
